<form id="form-premio" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <textarea type="text" name="DESCRICAO" id="DESCRICAO" class="form-control" cols="30" rows="2"></textarea>
    </div>


    <div class="col-12 col-sm-4 col-md-4">
        <label>VALOR</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" name="VALOR" id="VALOR" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label>Tipo de promocao</label>
        <select name="TIPO_ID" id="TIPO_ID" class="form-control">
            <option value="">Selecione o tipo de promoção</option>
        </select>
    </div>

    </div>

    <!--
    <div class="form-group">
        <label>ARRECADAÇÃO</label>
        <select name="TIPO_ID" id="TIPO_ID" class="form-control">
            <option value="">Selecione o tipo de acesso</option>
        </select>
    </div>
-->
    <input type="hidden" name="ID" id="ID">
</form>